<h4><%= link_to "List View", view_params: 'list' %> / Cover Flow</h4>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
	<% @gadgets.each_with_index do |gadget, index| %>

			<% if !gadget.pictures.empty? %>
  			<div class="item <%= "active" if index == 0 %>">
  				<%= link_to image_tag(gadget.pictures.first.image.url(:medium)), gadget %>
  				<div class="carousel-caption"><%= gadget.name %></div>
  			</div>
			<% end %>

	<% end %>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    Previous
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    Next
  </a>
</div>