<% if @gadget.errors %>
	<ul>
	<% @gadget.errors.full_messages.each do |message| %>
		<li><%= message %>
	<% end %>
	</ul>
<% end %>

<%= form_for(@gadget) do |f| %>
	<p><%= f.text_field :name, placeholder: "Gadget Name" %></p>
	<p><%= f.submit %></p>
<% end %>

